{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": "./src",
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@config": "./src/config",
          "@type": "./src/types",
          "@store": "./src/store",
          "@api": "./src/api"
        }
      }
    ]
  ]
}
